* {
	font-family: 'Lato', sans-serif;

}
  /* links */
  a:link {text-decoration: none; }
  a:hover { 
    text-decoration: none;
    color: black;
  }
  a:active { text-decoration: none; }

  h6 {
    color: rgb(21, 6, 45);
    align-content: center;
  }
  hr {
    margin-top: 5%;
    width: 60%;
  }
  #login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #e8841f;
    cursor: pointer;
    outline: none;
  }

  .text-link {
    color: inherit;
    text-decoration: none;
  }

.maincard {
  background-color: white;
  margin: 0;
}

.maincolor {
  background: rgba(16, 16, 47, 0.975);
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

/* .home_content{
  position: absolute;
  height: 100;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;

}
.sidebar.active ~ .home_content{
  width: calc(100% - 240px);
  left: 240px;
  
} */