* {
	font-family: 'Lato', sans-serif;

}
  /* links */
  a:link {text-decoration: none; }
  a:hover { 
    text-decoration: none;
    color: black;
  }
  a:active { text-decoration: none; }

  h6 {
    color: rgb(21, 6, 45);
    align-content: center;
  }
  hr {
    margin-top: 5%;
    width: 60%;
  }
  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;

  }
  #login-error-msg {
    width: 50%;
    text-align: center;
    margin: 10;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  #error-msg-second-line {
    display: block;
  }

  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .login-form-field::placeholder {
    color: #3a3a3a;
  }

  .login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    padding-left: 25px;
    background: url(../public/img/user-icon.png) no-repeat left;
    background-position: 2px;
    background-size: 10px;
  }
  #password-field {
    padding-left: 25px;
    background: url(../public/img/pass-icon.png) no-repeat left;
    background-size: 13px;

  }
  #login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #e8841f;
    cursor: pointer;
    outline: none;
  }
  #forgot-pass-text {
    font-size: 15px;
    text-align: center;
    color: rgb(71, 69, 69)
  }
  .text-link {
    color: inherit;
    text-decoration: none;
  }
  /* Password Recovery  */
    h3 {
      margin-top: 2%;
  }
  #forgot-password-field {
      padding-left: 25px;
      background: url(../public/img/mail.ico) no-repeat left;
      background-size: 13px;
  }
  #forgot-password-field::placeholder {
      font-size: x-small;
      color: rgb(107, 106, 106);
  }
  p {
      font-size: small;
      color: rgb(107, 106, 106);
      margin-top: 0;
      margin-bottom: 3vh;
  }
  #forgot-password-form-submit {
      width: 50%;
      padding: 7px;
      border: none;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      background-color: #e8841f;
      cursor: pointer;
      outline: none;
  }
  #log-in {
      color: grey;
      font-size: x-small;
      margin-top: 1vh;
      padding-left: 15px;
      background: url(../public/img/left-arrow.ico) no-repeat left;
  }


.maincard {
  background-color: white;
  margin: 0;
}

.maincolor {
  background: rgba(16, 16, 47, 0.975);
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  width: 100%;
  height: 100%;
  /* position: relative; */
  background-color:rgb(13, 15, 48); 
  /* background-attachment: fixed; */
  /* background-size: cover;  */
}


